.inventory-body {
    position: fixed;
    min-width: 100%;
    background-image: url("/assets/blue-moutain.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

i, mat-icon {
    font-size: 1.5rem; 
    color: rgb(60, 118, 226);
}

.wrapper {   
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 10px;
}
    