<div class="card mb-0 shadow">
  <h5 class="card-header bg-gradient text-white">
    <span>Payment Information</span>
    <span class="right-align">Policy# 12-AAA-123456</span>
  </h5>
  <div class="card-body bg-gradient mb-0">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="payment-title">Payment Amount</h3>
        <form>
          <section>
            <h4>Choose Payment Amount</h4>
            <mat-radio-group>
              <mat-radio-button value="1">Account Balance</mat-radio-button>
              <mat-radio-button value="2">Other Amount</mat-radio-button>
            </mat-radio-group>

            <mat-form-field appearance="fill">
              <mat-label>Amount</mat-label>
              <input matInput type="number" />
              <span matPrefix>$&nbsp;</span>
              <mat-hint align="start">
                <mat-icon>attach_money</mat-icon>
                Pay your balance & save service fee
              </mat-hint>
            </mat-form-field>
          </section>
        </form>
      </div>
      <div class="col-sm-6">
        <h3 class="payment-title">Payment details</h3>
        <form>
          <mat-form-field class="full-width">
            <mat-label>Name on Card</mat-label>
            <input type="text" matInput placeholder="Ex. John Smith" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Card Number</mat-label>
            <input
              type="number"
              matInput
              placeholder="1234 1234 1234 1234"
              minlength="16"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Expiry</mat-label>
            <input matInput maxlength="4" placeholder="MM/YYYY" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>CVV</mat-label>
            <input matInput maxlength="4" placeholder="123" />
          </mat-form-field>

          <section class="mt-3">
            <mat-checkbox>Save for future payment</mat-checkbox>
            <button mat-raised-button color="primary" class="right-align">
              Pay $500
            </button>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>
