<div class="card mb-0 shadow">
  <h5 class="card-header bg-gradient text-white">
    <span>Payment Information</span>
    <span class="right-align">Policy# 12-AAA-123456</span>
  </h5>
  <div class="card-body bg-dark mb-0">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h6 class="text-uppercase">Payment Amount</h6>
          <fieldset class="form-group">
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <div class="form-check mt-3 mr-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="accBalanceRadio"
                      id="accBalanceRadio"
                      value="option1"
                      [checked]="true"
                    />
                    <label class="form-check-label" for="accBalanceRadio">
                      Account Balance
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row right-align">
                  <div class="inputbox mt-3 mr-2">
                    <p class="card-text">$500</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <div class="form-check mt-3 mr-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="otherRadio"
                      id="otherRadio"
                      value="option2"
                    />
                    <label class="form-check-label" for="otherRadio">
                      Other Amount
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row">
                  <div class="inputbox mt-3 mr-2">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      required="required"
                    />
                    <span>$</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <p class="card-text right-align">
            <small>
              <em class="text-success">
                💲 Pay your balance and save on service fee.
              </em>
            </small>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h6 class="text-uppercase">Payment details</h6>
          <div class="inputbox mt-3">
            <input
              type="text"
              name="name"
              class="form-control"
              required="required"
            />
            <span>Name on card</span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="inputbox mt-3 mr-2">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  required="required"
                />
                <i class="fa fa-credit-card"></i> <span>Card Number</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    required="required"
                  />
                  <span>Expiry</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div class="inputbox mt-3 mr-2">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    required="required"
                  />
                  <span>CVV</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div class="mt-3 mr-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="saveCardDeatils"
                    />
                    <label class="form-check-label" for="saveCardDeatils">
                      <small class="text-muted">Save for future payment</small>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-row right-align">
                <div class="mt-3 mr-2">
                  <button class="btn btn-success px-3">Pay $500</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
